@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  /* Force Windows to render sharp text */
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
}

.no-blur {
  /* Prevent browser from 'blurring' when it scales */
  image-rendering: pixelated !important;
  image-rendering: crisp-edges !important;
}